################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/BFF.Web/bin/Debug/net8.0
/src/BFF.Web/obj
/src/IDP/tempkey.jwk
/src/IdentityServer/bin/Debug/net8.0
/src/IdentityServer/obj
/src/Microservices/Orders.API/bin/Debug/net8.0
/src/Microservices/Orders.API/obj
/src/Microservices/Payments.API/bin/Debug/net8.0
/src/Microservices/Payments.API/obj
/src/Microservices/Products.API/bin/Debug/net8.0
/src/Microservices/Products.API/obj
/src/Common/bin/Debug/net8.0
/src/Common/obj
/src/Microservices/Products.WebUI/bin/Debug/net8.0
/src/Microservices/Products.WebUI/obj
/src/IDP/bin/Debug/net8.0
/src/IDP/keys
/src/IDP/obj
/src/Microservices/Orders/API/bin/Debug/net8.0
/src/Microservices/Orders/API/obj
/src/Microservices/Payments/API/bin/Debug/net8.0
/src/Microservices/Payments/API/obj
/src/Microservices/Products/API/bin/Debug/net8.0
/src/Microservices/Products/API/obj
/src/Microservices/Products/BFF.Web/bin/Debug/net8.0
/src/Microservices/Products/BFF.Web/obj
/src/Shell/bin/Debug/net8.0
/src/Shell/obj
/src/Common/Landscape/bin/Debug/net8.0
/src/Common/Landscape/obj
/src/Common/WebUtilities/obj
/src/Common/WebUtilities/bin/Debug/net8.0
/src/IDP/bin/Debug/net10.0
/src/Microservices/Products/API/bin/Debug/net10.0
/src/Common/Landscape/bin/Debug/net10.0
/src/Common/WebUtilities/bin/Debug/net10.0
/src/Microservices/Products/BFF.Web/bin/Debug/net10.0
/src/Shell/bin/Debug/net10.0
/src/Microservices/Orders/BFF.Web/client-app/.next
/src/Microservices/Orders/BFF.Web/client-app/node_modules
/src/Microservices/Orders/BFF.Web/node_modules
/src/Microservices/Orders/BFF.Web/complete_project_guide.md
/src/Microservices/Orders/API/bin/Debug/net10.0
/src/Microservices/Orders/BFF.Web/dist
/src/Microservices/Products/BFF.Web/wwwroot/_next/static
/src/Shell/wwwroot/_next/static
/CodeHierarchy.md
